<template>
    <div class="album-name-list">
        <div v-for="album in albumRow">
            {{ album.artist }} - {{ album.name }}
        </div>
    </div>
</template>
<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Album} from '@/data_types/album';
    import {AlbumImage, SizeClass} from '@/data_types/album_image';
    import {getAlbums} from '@/store/albums';

    @Component
    export default class AlbumNameList extends Vue {
        @Prop() private row!: number;

        get albumRow(): Album[] {
            const container = getAlbums(this.$store);
            const albumRow = container.albums[this.row];
            if (!albumRow) {
                return [];
            }
            return Object.values(albumRow);
        }

    }

</script>
<style scoped>
    .album-name-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
        justify-content: flex-start;
    }
</style>
