import {SizeClass} from '@/data_types/album_image';
import {SizeClass} from '@/data_types/album_image';
<template>
    <div class="grid-entry" @dragover="allowDrop" @drop.prevent="drop">
        <img class="grid-image" v-if="image" :src="image.text">
    </div>
</template>
<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Album} from '@/data_types/album';
    import {AlbumImage, SizeClass} from '@/data_types/album_image';
    import {Deserialize} from 'cerialize';
    import {commitSetAlbum, getAlbums} from '@/store/albums';

    @Component
    export default class GridEntry extends Vue {
        @Prop() private row!: number;
        @Prop() private column!: number;

        private allowDrop(event: DragEvent) {
            if (event.dataTransfer && event.dataTransfer.getData('album')) {
                event.preventDefault();
            }
        }

        private drop(event: DragEvent) {
            if (event.dataTransfer) {
                const a = event.dataTransfer.getData('album');
                if (a) {
                    const obj = JSON.parse(a);
                    const album = Deserialize(obj, Album);
                    commitSetAlbum(this.$store, {row: this.row, column: this.column, album});
                }
            }
        }

        get album(): Album | undefined {
            const container = getAlbums(this.$store);

            return container.getAlbum(this.row, this.column);
        }

        get image(): (AlbumImage | undefined) {
            const album = this.album;
            if (!album) {
                return undefined;
            }
            return album.getImage(SizeClass.large);

        }


    }

</script>
<style scoped>
    .grid-entry {
        background-color: whitesmoke;
        height: 150px;
        width: 150px;
        margin: 2px;
    }

    .grid-image {
        height: 100%;
        width: 100%;
    }
</style>
