<template>
    <div class="grid-container">
        <div class="grid-row" v-for="row in rows" :key="row">
            <GridEntry v-for="column in columns" :column="column" :row="row" :key="column"/>
            <AlbumNameList :row="row"></AlbumNameList>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import GridEntry from '@/components/GridEntry.vue';
    import AlbumNameList from '@/components/AlbumNameList.vue';
    import { getRows, getColumns } from '@/store/layout';

    @Component({
        components: {AlbumNameList, GridEntry},
    })
    export default class Grid extends Vue {

        get rows() {
            return [...Array(getRows(this.$store)).keys()];
        }

        get columns() {
            return [...Array(getColumns(this.$store)).keys()];
        }
    }
</script>

<style scoped>
    .grid-container {
        display: flex;
        flex-direction: column;
        padding: 16px;
        background-color: black;
    }
    .grid-row {
        display: flex;
        flex-direction: row;
    }
</style>
