<template>
    <b-container fluid class="search-box">
        <b-row>
            <b-col>
                <h3>Options</h3>
                <form>
                    <div class="form-group">
                        <label for="rows-slider">Rows</label>
                        <b-form-input id="rows-slider" name="rows-slider" @input="setRows" :value="rows" type="range" min="0" max="8"></b-form-input>
                        <div class="mt-2">Value: {{ rows }}</div>
                    </div>
                    <div class="form-group">
                        <label for="columns-slider">Columns</label>
                        <b-form-input id="columns-slider" name="columns-slider" @input="setColumns" :value="columns" type="range" min="0" max="8"></b-form-input>
                        <div class="mt-2">Value: {{ columns }}</div>
                    </div>
                </form>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {getColumns, getRows, commitSetColumns, commitSetRows} from '@/store/layout';

    @Component({
    })
    export default class OptionBox extends Vue {

        get rows() {
            return getRows(this.$store);
        }

        get columns() {
            return getColumns(this.$store);
        }

        private setRows(val: string) {
            commitSetRows(this.$store, parseInt(val, 10));
        }

        private setColumns(val: string) {
            commitSetColumns(this.$store, parseInt(val, 10));
        }
    }
</script>

<style scoped>

</style>
