import {SizeClass} from "@/data_types/album_image";
<template>
    <div draggable="true" @dragstart="drag">
        <img class="album-image" :src="getImage(album)" :alt="`${album.artist} - ${album.name}`">
    </div>
</template>
<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator';
    import {Album} from '@/data_types/album';
    import {AlbumImage, SizeClass} from '@/data_types/album_image';
    import {Serialize} from 'cerialize';

    @Component
    export default class SearchResultAlbum extends Vue {
        @Prop() private album!: Album;

        private getImage(album: Album): string {
            const img = album.getImage(SizeClass.large);
            if (img) {
                return img.text;
            }
            return '';
        }

        private drag(event: DragEvent) {
            if (!event.dataTransfer) {
                return;
            }
            event.dataTransfer.setData('album', JSON.stringify(Serialize(this.album)));
        }

    }
</script>

<style scoped>
    .album-image {
        max-height: 120px;
        padding-top: 4px;
    }
</style>
