<template>
    <b-container fluid class="search-box">
        <b-row>
            <b-col>
                <form @submit.prevent="search">
                    <div class="form-group">
                        <label for="query">Album Search</label>
                        <input type="text" class="form-control" name="query" id="query" v-model="queryText">
                    </div>
                </form>
            </b-col>
        </b-row>
        <div class="results-box">
            <b-row v-for="chunk in albumGroups" :key="keyForAlbumChunk(chunk)">
                <b-col v-for="album in chunk" :key="album.url">
                    <search-result-album :album="album"></search-result-album>
                </b-col>
            </b-row>
        </div>
    </b-container>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {Album} from '@/data_types/album';
    import {LFMResponse} from '@/data_types/lastfm';
    import {LastFMAPI} from '@/api/lastfm_api';
    import {chunk} from 'lodash';
    import SearchResultAlbum from '@/components/SearchResultAlbum.vue';

    @Component({
        components: {SearchResultAlbum},
    })
    export default class SearchBox extends Vue {
        private response: LFMResponse | null = null;
        private queryText: string = '';
        private search() {
            LastFMAPI.searchAlbums(this.queryText).then((r) => {
                this.response = r;
            });
        }

        get albumGroups(): Album[][] {
            if (!this.response) {
                return [[]];
            }
            return chunk(this.response.results.albummatches.albums, 2);
        }

        private keyForAlbumChunk(c: Album[]): string {
            return c.map((a) => {
                return a.url;
            }).join('-');
        }
    }
</script>

<style scoped>
    .search-box {
        margin-top: 20px;
        padding: 0;
    }

    .results-box {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 700px;

    }

</style>
