<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col cols="2">
          <div class="left-container">
            <OptionBox></OptionBox>
            <SearchBox></SearchBox>
          </div>
        </b-col>
        <b-col cols="10">
          <grid/>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator';
  import Grid from './components/Grid.vue';
  import {getTestAlbums} from '@/test_data/test_albums';
  import {Album} from '@/data_types/album';
  import {LastFMAPI} from '@/api/lastfm_api';
  import SearchBox from '@/components/SearchBox.vue';
  import OptionBox from '@/components/OptionBox.vue';


  @Component({
    components: {
      OptionBox,
      SearchBox,
      Grid,
    },
  })
  export default class App extends Vue {
  }
</script>

<style lang="scss">
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .left-container {
    display: flex;
    flex-direction: column;
  }
</style>
